<% layout('layout/boilerplate.ejs') -%>

    <div class="home-container">
        <h1 class="title">Home Page</h1>
        <button class="addNotes">+</button>

        <div class="notes-list">
            <div class="note-card">
                <div class="card-header">
                    <h2 class="card-title">Success Mantra</h2>
                    <div class="test"></div>
                </div>
                <hr>
                <p class="card-content">🔹"Dream, dream, dream. Dreams transform into thoughts and thoughts result in
                    action."

                    🔹"You have to dream before your dreams can come true."

                    🔹"Don’t take rest after your first victory because if you fail in second, more lips are waiting to
                    say that your first victory was just luck."

                    🔹"If you want to shine like a sun, first burn like a sun."

                    🔹"All of us do not have equal talent. But, all of us have an equal opportunity to develop our
                    talents."

                    🔹"Man needs difficulties in life because they are necessary to enjoy success."

                    🔹"Success is when your signature becomes an autograph."

                    🔹"Excellence happens not by accident. It is a process."

                    🔹"Thinking should become your capital asset, no matter whatever ups and downs you come across in
                    your
                    life."

                    🔹"Look at the sky. We are not alone. The whole universe is friendly to us and conspires only to
                    give
                    the best to those who dream and work."</p>

                <hr>

                <div class="card-footer">
                    <p>
                        <%= new Date().toDateString() %>
                    </p>
                </div>
            </div>

            <% allNotes.forEach((note)=> { %>
                <a href="/notes/<%= note._id %>/edit">
                    <div class="note-card <%= note.priority.toLowerCase() %>">
                        <div class="card-header">
                            <h2 class="card-title">
                                <%= note.title %>
                            </h2>
                            <div class="test"></div>
                        </div>
                        <hr>
                        <p class="card-content">
                            <%- note.description.replace(/\n/g, '<br>' ) %>
                        </p>

                        <hr>

                        <div class="card-footer">
                            <p>
                                <%= note.createdAt.toDateString() %>
                            </p>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>

        <div class="form-popup-card" id="popupForm">
            <button class="popup-close-btn">x</button>
            <h3 class="form-title mb-3 text-center">Add Note</h3>
            <form action="/notes" method="POST" class="row-100 needs-validation" novalidate>
                <div class="mb-3">
                    <label for="validationCustom01" class="form-label">Title</label>
                    <input type="text" class="form-control" id="validationCustom01" name="title"
                        placeholder="Enter Title" value="Title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationCustom02" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="validationCustom02" name="description"
                        placeholder="Enter Description" rows="5" required>Description</textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid description.
                    </div>
                </div>

                <!-- <div class="mb-3">
                    <label for="validationCustom03" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="validationCustom03" name="image" accept="image/*"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid image.
                    </div>
                </div> -->

                <div class="mb-3 d-flex gap-5">
                    <div class="form-priority">
                        <div>
                            <label class="form-label" for="priority">Priority</label>
                            <br>
                        </div>
                        <label class="priority-option mt-2">
                            <input type="radio" name="priority" value="High" required>
                            <span class="priority-high">High</span>
                        </label>
                        <label class="priority-option mt-2">
                            <input type="radio" name="priority" value="Medium">
                            <span class="priority-medium">Medium</span>
                        </label>
                        <label class="priority-option mt-2">
                            <input type="radio" name="priority" value="Low">
                            <span class="priority-low">Low</span>
                        </label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>

                    <div class="form-date">
                        <label for="validationCustom04" class="form-label">Created At</label>
                        <input type="date" class="form-control" id="validationCustom04" name="createAt" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>

                    <div class="form-date">
                        <label for="validationCustom05" class="form-label">Due date</label>
                        <input type="date" class="form-control" id="validationCustom05" name="dueDate" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end gap-4 mt-5 mb-3">
                    <button type="clear" class="btn btn-danger  color-white">Clear</button>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>

            </form>
        </div>

    </div>